*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}
body{
  transition: 0.5s;
  position: relative;
  background: #191919;
}
body .limiter{

  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

#welcome-slide{
  width: 100%;
  position: relative;
  height: 95vh;
  max-height: 750px;
  background: #000;
  overflow: hidden;
}

#welcome-slide .black{
  position: absolute;
  top: 0px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100vh + 4px);
  max-height: 754px;
  /*background:url(img/wallpaper.jpg)#00cc44;*/
  background-size: auto 160%;
  background-position: center;
  z-index: 2;
  opacity: 0.8;
  filter: blur(4px);
}
/*MODIFICAR*/
#welcome-slide header{

  width: 100%;
  position: relative;
  border-bottom: 1px solid #ccc;
  z-index: 4;
  padding: 0px 20px;
  box-sizing: border-box;
  height: 100px;
  text-align: center;
  
}

#welcome-slide header ul{
  display: inline-block;
  list-style: none;
  text-align: center;
  margin: 20px auto;
  width: 100%;
}

#welcome-slide header ul a{
  text-decoration: none;
}

#welcome-slide header ul li{
  font-family: 'Lato';
  display: inline-block;
  color: #fff;
  padding: 21px 30px;
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  margin-left: -4px;
  padding-top: 27px;
  height: 72px;
}

#welcome-slide header ul li span{
  margin-left: 4px;
  font-size: 24px;
  float: right;
  margin-top: -4px;
}

#welcome-slide header ul a:nth-child(1) li{
  margin-left: 0px;
}

#welcome-slide header ul li:hover{
  border-bottom: 2px solid #fff;
}

#welcome-slide header .logo{
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0px;
  text-decoration: none;
}

#welcome-slide header .logo img{
  height: 72px;
}

#welcome-slide header .menu-b{
  max-width: 0px;
  border:0px;
  overflow: hidden;
  position: absolute;
}


#welcome-slide header .menu-x{
  max-width: 0px;
  border:0px;
  overflow: hidden;
  position: absolute;
}

#welcome-slide header .login{
  font-family: 'Lato';
  display: inline-block;
  color: #fff;
  padding: 10px 24px;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
  box-sizing: border-box;
  position: absolute;
  right: 124px;
  top: 17px;
  border: 2px solid #fff;
  border-radius: 3600px;
  text-decoration: none;
}

#welcome-slide header .register{
  font-family: 'Lato';
  display: inline-block;
  color: #fff;
  padding: 10px 24px;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  top: 17px;
  border: 2px solid #fff;
  border-radius: 3600px;
  text-decoration: none;
}

#welcome-slide header .login-2{
  display: none;
  width: calc(100% - 40px);
  height: 40px;
  left: 20px;
  bottom: 65px;
  font-family: 'Lato';
  color: #fff;
  padding: 10px 24px;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid #fff;
  border-radius: 3600px;
  text-decoration: none;
}

#welcome-slide header .register-2{
  display: none;
  width: calc(100% - 40px);
  height: 40px;
  left: 20px;
  bottom: 20px;
  font-family: 'Lato';
  color: #fff;
  padding: 10px 24px;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid #fff;
  border-radius: 3600px;
  text-decoration: none;
}

#welcome-slide .principal{
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  height: calc(100% - 73px);
  z-index: 4;
  display: table;
  padding: 0px 20px;
  box-sizing: border-box;
}

#welcome-slide .principal .principal-cont{
  position: relative;
  width: 100%;
  height: calc(100% - 73px);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#welcome-slide .principal .principal-cont h2{
  font-size: 60px;
  font-weight: lighter;
  color: #fff;
  margin-bottom: 20px;
}

#welcome-slide .principal .principal-cont p{
  font-size: 20px;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
}

#welcome-slide .principal .principal-cont .button{
  padding: 15px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
  border-radius: 3600px;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Lato';
  font-weight: bold;
  width: 30%;
  margin-bottom: 20px;
}

#welcome-slide .principal .principal-cont .button:hover{
  background: #191919;
}

#welcome-slide .principal .principal-cont .button + p{
  font-size: 15px;
  font-weight: bold;
}

#body-content{
  width: 100%;
  background: #fff;
  position: relative;
}


/*SLIDE IMAGENES*/
.limiter-2{
  position: relative;
  display: block;
  width: 100%;
  top:50px;
}

.limiter-2 .text-galeria{
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:#807C73  ;
}
.carrusel{
  width: 100%;

}
.carrusel li, ol{
  list-style: none;
}

.carrusel li ul{
   width: 100%;
}
.carrusel li img{
  width: 100%;
  height: 500px;
}

.carrusel li{
  overflow: hidden;
}

.carrusel .slide-text{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  color:white;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.carrusel .slide-text h1{
  font-size: 50px;
}
.carrusel .slide-text p{
  margin-top: 10px;
  font-size: 20px;
}
.pagination{
  position: absolute;
  top:102%;
  display: flex;
  width: 100%;
  justify-content: center;
}

.pagination li{
  font-size: 20px;
  margin: 2px 5px;
  color:#858585;
  cursor: pointer;
}

.left, .right{
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 35px;
  z-index: 2;
  cursor: pointer;
}

.left{
  left: 10px;
}

.right{
  right: 10px;
}
/*BODY CONTENT*/
.body-contenido{
  width: 100%;
  height: auto;

  position: relative;
}
/*FIRMAS*/
.firmas{
  width: 100%;
  position: relative;
  height: 250px;
  display: flex;
  justify-content: center;

}
.firms-content {
    position: relative;
    width:20%;

    margin: 20px;
}

.image {
  opacity: 1;
  display: inline-block;
  width: 100%;
  border: 1px solid #dadada;
  /*ANCHO DE IMAGEN*/
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  /*ANCHO DE TEXTO*/
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.firms-content:hover .image {
  opacity: 0.3;
}

.firms-content:hover .middle-text {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/*CONTENIDO*/
.contenido{
  background: #F5F4F1  ;
  width: 100%;
  height: 400px;
  display: block;
  position: relative;
}

/*FOOTER*/
.footer{
  width: 100%;
  background: #00cc44;
  display: inline;

  position: fixed;
  bottom: 0;
  color: #fff;
  z-index: 10000;
}

.footer p{
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 10px;
}



/*RESPONSIVE*/
@media screen and (max-width: 600px) {
  .carrusel .slide-text p{
    display: none;

  }

  .carrusel .slide-text h1{
    font-size: 25px;

  }

  .left, .right{
    font-size: 30px;
  }

  .carrusel li img{
    width: 600px;
  }
  .pagination{
    display: none;
  }
  .footer{
    width: 100%;
  }
  .footer p{
    font-size: 11px;
  }
  .firmas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

  }
  .firms-content{
    width: 50%;
  }
}

/*LOGIN*/
